ProtoTest_SMB3/LIBS/acv607/csharp/sample_xml/BigInteger/BigInt.xsd

<?xml version="1.0"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 6.07, Date: 18-Jan-2008. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/BigInt"
            targetNamespace="http://www.obj-sys.com/BigInt"
 elementFormDefault="qualified">

   <!-- PDU definition -->
   <xsd:element name="bigIntType" type="BigIntType"/>
   <xsd:simpleType name="BigIntType">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="dss_Parms" type="Dss_Parms"/>
   <xsd:complexType name="Dss_Parms">
      <xsd:sequence>
         <xsd:element name="p" type="xsd:string"/>
         <xsd:element name="q" type="xsd:string"/>
         <xsd:element name="g" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>