ProtoTest_SMB3/LIBS/acv607/csharp/sample_xml/PKCS15TokenInfo/PKCS15TokenInfo.xsd

<?xml version="1.0"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 6.07, Date: 18-Jan-2008. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/PKCS15TokenInfo"
            targetNamespace="http://www.obj-sys.com/PKCS15TokenInfo"
 xmlns:objsys="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="qualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="identifier" type="Identifier"/>
   <xsd:simpleType name="Identifier">
      <xsd:restriction base="xsd:hexBinary">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="tokenInfo" type="TokenInfo"/>
   <xsd:complexType name="TokenInfo">
      <xsd:sequence>
         <xsd:element name="version">
            <xsd:simpleType>
               <xsd:union>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="v1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="0"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:union>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="serialNumber" type="xsd:hexBinary"/>
         <xsd:element name="manufacturerID" minOccurs="0" type="Label"/>
         <xsd:element name="label" minOccurs="0" type="Label"/>
         <xsd:element name="tokenflags" type="TokenFlags"/>
         <xsd:element name="seInfo" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="SecurityEnvironmentInfo" type="SecurityEnvironmentInfo"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="recordInfo" minOccurs="0" type="RecordInfo"/>
         <xsd:element name="supportedAlgorithms" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="AlgorithmInfo" type="AlgorithmInfo"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="issuerId" minOccurs="0" type="Label"/>
         <xsd:element name="holderId" minOccurs="0" type="Label"/>
         <xsd:element name="lastUpdate" minOccurs="0" type="LastUpdate"/>
         <xsd:element name="preferredLanguage" minOccurs="0" type="xsd:string"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="TokenFlags">
      <xsd:union memberTypes="asn1:BitString">
      <xsd:simpleType>
         <xsd:list>
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="readonly"/>
                  <xsd:enumeration value="loginRequired"/>
                  <xsd:enumeration value="prnGeneration"/>
                  <xsd:enumeration value="eidCompliant"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:list>
      </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="Operations">
      <xsd:union memberTypes="asn1:BitString">
      <xsd:simpleType>
         <xsd:list>
            <xsd:simpleType>
               <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="compute-checksum"/>
                  <xsd:enumeration value="compute-signature"/>
                  <xsd:enumeration value="verify-checksum"/>
                  <xsd:enumeration value="verify-signature"/>
                  <xsd:enumeration value="encipher"/>
                  <xsd:enumeration value="decipher"/>
                  <xsd:enumeration value="hash"/>
                  <xsd:enumeration value="generate-key"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:list>
      </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>

   <xsd:simpleType name="Reference">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="Label">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="255"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="SecurityEnvironmentInfo">
      <xsd:sequence>
         <xsd:element name="se">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedByte"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="owner" type="asn1:ObjectIdentifier"/>
         <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="RecordInfo">
      <xsd:sequence>
         <xsd:element name="oDFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="prKDFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="puKDFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="sKDFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="cDFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="dODFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="aODFRecordLength" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="16383"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AlgorithmInfo">
      <xsd:sequence>
         <xsd:element name="reference" type="Reference"/>
         <xsd:element name="algorithm" type="xsd:integer"/>
         <xsd:element name="parameters" type="asn1:OpenType"/>
         <xsd:element name="supportedOperations" type="Operations"/>
         <xsd:element name="algId" minOccurs="0" type="asn1:ObjectIdentifier"/>
         <xsd:element name="algRef" minOccurs="0" type="Reference"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Path">
      <xsd:sequence>
         <xsd:element name="path" type="xsd:hexBinary"/>
         <xsd:element name="index" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="length" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:unsignedShort"/>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AlgorithmIdentifier">
      <xsd:sequence>
         <xsd:element name="algorithm" type="asn1:ObjectIdentifier"/>
         <xsd:element name="parameters" minOccurs="0" type="asn1:OpenType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DigestInfoWithDefault">
      <xsd:sequence>
         <xsd:element name="digestAlg" minOccurs="0" type="AlgorithmIdentifier"/>
         <xsd:element name="digest">
            <xsd:simpleType>
               <xsd:restriction base="xsd:hexBinary">
                  <xsd:minLength value="8"/>
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="URL">
      <xsd:choice>
         <xsd:element name="url" type="xsd:string"/>
         <xsd:element name="urlWithDigest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="url" type="xsd:string"/>
                  <xsd:element name="digest" type="DigestInfoWithDefault"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ReferencedValue">
      <xsd:choice>
         <xsd:element name="path" type="Path"/>
         <xsd:element name="url" type="URL"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="LastUpdate">
      <xsd:choice>
         <xsd:element name="referencedTime" type="ReferencedValue"/>
         <xsd:element name="generalizedTime" type="xsd:dateTime"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

</xsd:schema>