ProtoTest_SMB3/LIBS/acv607/csharp/sample_xml/InfoObject/Test.xsd

<?xml version="1.0"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 6.07, Date: 18-Jan-2008. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/Test"
            targetNamespace="http://www.obj-sys.com/Test"
 xmlns:objsys="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="qualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="oID" type="OID"/>
   <xsd:simpleType name="OID">
      <xsd:restriction base="asn1:ObjectIdentifier"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="relOID" type="RelOID"/>
   <xsd:simpleType name="RelOID">
      <xsd:restriction base="asn1:RelativeOID"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="openType" type="OpenType"/>
   <xsd:complexType name="OpenType">
      <xsd:sequence>
         <xsd:any processContents="lax" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="birInt16" type="BirInt16"/>
   <xsd:simpleType name="BirInt16">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>

   <!-- PDU definition -->
   <xsd:element name="format" type="Format"/>
   <xsd:complexType name="Format">
      <xsd:sequence>
         <xsd:element name="formatOwner" type="BIOMETRIC_IDENTIFIER"/>
         <xsd:element name="formatType" minOccurs="0" type="asn1:OpenType"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- PDU definition -->
   <xsd:element name="biometricInfo" type="BiometricInfo"/>
   <xsd:complexType name="BiometricInfo">
      <xsd:sequence minOccurs="1" maxOccurs="2147483647">
         <xsd:element name="BioInformation" type="BioInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BIOMETRIC_IDENTIFIER">
      <xsd:choice>
         <xsd:element name="oid" type="asn1:ObjectIdentifier"/>
         <xsd:element name="id" type="asn1:RelativeOID"/>
      </xsd:choice>
   </xsd:complexType>

   <xsd:complexType name="ProcessingInformation">
      <xsd:sequence>
         <xsd:element name="id" type="BIOMETRIC_IDENTIFIER"/>
         <xsd:element name="parms" minOccurs="0" type="asn1:OpenType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ProcessingInfo">
      <xsd:sequence minOccurs="1" maxOccurs="2147483647">
         <xsd:element name="ProcessingInformation" type="ProcessingInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MatchingInformation">
      <xsd:sequence>
         <xsd:element name="id" type="BIOMETRIC_IDENTIFIER"/>
         <xsd:element name="parms" minOccurs="0" type="asn1:OpenType"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MatchingInfo">
      <xsd:sequence minOccurs="1" maxOccurs="2147483647">
         <xsd:element name="MatchingInformation" type="MatchingInformation"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BioInformation">
      <xsd:sequence>
         <xsd:element name="processingInfo" minOccurs="0" type="ProcessingInfo"/>
         <xsd:element name="matchingInfo" minOccurs="0" type="MatchingInfo"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>