ProtoTest_SMB3/LIBS/acv607/csharp/sample_xml/EmployeeXsd/employee.xsd

<?xml version="1.0"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 6.0A, Date: 09-Feb-2006. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

   <!-- PDU definition -->
   <xsd:element name="personnelRecord" type="PersonnelRecord"/>
   <xsd:complexType name="PersonnelRecord">
      <xsd:all>
         <xsd:element name="Name" type="Name"/>
         <xsd:element name="number" type="EmployeeNumber"/>
         <xsd:element name="title" type="xsd:string"/>
         <xsd:element name="dateOfHire" type="Date"/>
         <xsd:element name="nameOfSpouse" type="Name"/>
         <xsd:element name="children">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="element" type="ChildInformation"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>

   <xsd:simpleType name="EmployeeNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Date">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>

   <xsd:complexType name="Name">
      <xsd:sequence>
         <xsd:element name="givenName" type="xsd:string"/>
         <xsd:element name="initial" type="xsd:string"/>
         <xsd:element name="familyName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChildInformation">
      <xsd:all>
         <xsd:element name="Name" type="Name"/>
         <xsd:element name="dateOfBirth" type="Date"/>
      </xsd:all>
   </xsd:complexType>

</xsd:schema>