ProtoTest_SMB3/LIBS/acv607/csharp/sample_xml/ExtChoice/ExtChoice.xsd

<?xml version="1.0"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 6.07, Date: 18-Jan-2008. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/ExtChoice"
            targetNamespace="http://www.obj-sys.com/ExtChoice"
 xmlns:objsys="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="qualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="aliasAddressList" type="AliasAddressList"/>
   <xsd:complexType name="AliasAddressList">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AliasAddress" type="AliasAddress"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="PartyNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="TransportAddress">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>

   <xsd:simpleType name="EnumVal">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="one"/>
         <xsd:enumeration value="two"/>
         <xsd:enumeration value="three"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:complexType name="AliasAddress">
      <xsd:choice>
         <xsd:element name="e164">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="128"/>
                  <xsd:pattern value="[#\*,0123456789]{0,}"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="h323_ID">
            <xsd:simpleType>
               <xsd:restriction base="asn1:BMPString">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="256"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="aNull" type="asn1:NULL"/>
         <xsd:element name="url_ID">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="512"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="transportID">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="TransportAddress" type="TransportAddress"/>
                  <xsd:element name="INTEGER" type="xsd:integer"/>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="email_ID">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="512"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="partyNumber" type="PartyNumber"/>
         <xsd:element name="boolVal" type="xsd:boolean"/>
         <xsd:element name="enumVal" type="EnumVal"/>
         <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
   </xsd:complexType>

</xsd:schema>