ProtoTest_SMB3/LIBS/acv607/csharp/sample_xml/EmployeeStream/Employee.xsd

<?xml version="1.0"?>
<!-- This document was generated by the Objective Systems ASN1C Compiler
     (http://www.obj-sys.com).  Version: 6.07, Date: 18-Jan-2008. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/Employee"
            targetNamespace="http://www.obj-sys.com/Employee"
 xmlns:objsys="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="qualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="personnelRecord" type="PersonnelRecord"/>
   <xsd:complexType name="PersonnelRecord">
      <xsd:all>
         <xsd:element name="Name" type="Name"/>
         <xsd:element name="number" type="EmployeeNumber"/>
         <xsd:element name="title" type="xsd:string"/>
         <xsd:element name="dateOfHire" type="Date"/>
         <xsd:element name="nameOfSpouse" type="Name"/>
         <xsd:element name="children">
            <xsd:complexType>
               <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                  <xsd:element name="ChildInformation" type="ChildInformation"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:all>
   </xsd:complexType>

   <xsd:simpleType name="EmployeeNumber">
      <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>

   <xsd:simpleType name="Date">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>

   <xsd:complexType name="Name">
      <xsd:sequence>
         <xsd:element name="givenName" type="xsd:string"/>
         <xsd:element name="initial" type="xsd:string"/>
         <xsd:element name="familyName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ChildInformation">
      <xsd:all>
         <xsd:element name="Name" type="Name"/>
         <xsd:element name="dateOfBirth" type="Date"/>
      </xsd:all>
   </xsd:complexType>

</xsd:schema>